
<% if @party.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@party.errors.count, "Error:") %><br>
      This party cannot be saved.
    </h2>
 
    <ul>
    <% @party.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="container">
<%= form_for @party do |f|%>
<%= f.hidden_field :category_id %>

<p><b>Change your Category:</b></p>
<%= f.fields_for :category, @category do |ctg|%>
<%= ctg.label "Category: " %>
<%= ctg.text_field :name %>
<%end%>
<br>

<br>
<%= f.label "Title: " %>
<%= f.text_field :title %>
<br>

<%= f.label "Date: " %>
<%= f.text_field :date %>
<br>

<%= f.label "Time: " %>
<%= f.text_field :time %>
<br>

<p>Todo List:</p>
<%= f.text_area :todos %>
<br>
<p></P>
<%= f.submit "Submit" %>



<% end %>
</div>