<div class="field">
  <fieldset>
    <legend>Trip Details</legend>

    <%= f.label "Party Title:" %><br>
    <%= f.text_field :title %><br>
    <%= f.label "Date:" %><br>
    <%= f.text_field :date %><br>
      <%= f.label "Time:" %><br>
    <%= f.text_field :time %><br>
  </fieldset>
</div>