<div class="container">
<% if @party.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@party.errors.count, "Error:") %><br>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @party.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @party do |f|%>
<%= f.hidden_field :category_id %>

<p><b>Choose from an exisiting Category:</b></p>
<%= f.label :category %>
<%= f.collection_select(:category_id, Category.all, :id, :name, include_blank: true) %>

<br>

<p><b>Or Add a New Category:</b></p>
<%= f.fields_for :category, @party.build_category  do |ctg|%>
<%= ctg.label :name %>
<%= ctg.text_field :name %>
<%end%>
<br>


<br>
<%= f.label "Title: " %>
<%= f.text_field :title %>
<br>

<%= f.label "Date: " %>
<%= f.text_field :date %>
<br>

<%= f.label "Time: " %>
<%= f.text_field :time %>
<br>

<p>Todo List:</p>
<%= f.text_area :todos %>
<br>
<p></P>
<%= f.submit "Submit" %>


<% end %>

</div>