<p><b>Date & Time: </b><%= @party.date %> at <%= @party.time %> </p>
<p><b>To do: </b><%=@party.todos%></p>
<p><b>Party Category: </b><%= @party.category.name%></p>
<%= button_to 'Edit Party Details', edit_party_path, method: :get %><br>