<h1><%=@party.title%></h1> 
<p> Date & Time: <%= @party.date %> at <%= @party.time %> </p>

<h2>Party Category: <%= @party.category.name%></h2>
<%= button_to 'Edit Party Details', edit_party_path, method: :get %><br>